<h1>{{error}}. Por favor, reintente loguearse</h1>
<p style="font-weight: bold;">Si desea registrarse, haga click <a href="/registro">aqui</a></p>
<p style="font-weight: bold">Si desea loguearse, haga click <a href="/login">aquí</a></p>