<div class="container" style="background-color: grey">
    <h1 style="padding: 1rem">Registro de usuario</h1>
    <div style="padding: 1rem">
        <form action="/registro" method="POST">
            <label id="username" style="margin: 0.5rem 0rem"><strong>Email</strong></label>
            <br>
            <input id="username" name="username" type="email" style="margin: 0.5rem 0rem">
            <br>
            <label id="password" style="margin: 0.5rem 0rem"><strong>Contraseña</strong></label>
            <br>
            <input id="password" name="password" type="password" style="margin: 0.5rem 0rem">
            <br>
            <label id="firstname" style="margin: 0.5rem 0rem"><strong>Nombre</strong></label>
            <br>
            <input id="firstname" name="firstname" style="margin: 0.5rem 0rem">
            <br>
            <label id="lastname" style="margin: 0.5rem 0rem"><strong>Apellido</strong></label>
            <br>
            <input id="lastname" name="lastname" style="margin: 0.5rem 0rem">
            <br>
            <button type="submit" class="btn btn-dark" style="margin: 0.5rem 0rem">Registrarse</button>
        </form>
    </div>
</div>