<div>
    <h1>Primer prueba de sockets</h1>
    <label for="textoInput">Ingrese un texto</label>
    <input id="textoInput">
    <button type="submit" onclick=boton()>Enviar</button>
    <p id="destinoTexto"></p>
</div>