<div>
    <h1>Muchas gracias por su compra</h1>
    <h3>Le enviaremos los detalles por e-mail</h3>
    <p>Lo redirigiremos a la pagina de inicio</p>
</div>

<script>
    setTimeout(() => {
        window.location.href = "http://localhost:8080/api/productos";
    }, 5000)
</script>