<div style="background-color: grey" class="container">
    <h1 style="padding: 1rem">Login de usuario</h1>
    <div style="padding: 1rem">
        <form action="/login" method="POST">
            <label id="user" style="margin: 0.5rem 0rem"><strong>Usuario</strong></label>
            <br>
            <input id="user" name="user" style="margin: 0.5rem 0rem">
            <br>
            <button type="submit" class="btn btn-dark" style="margin: 0.5rem 0rem">Iniciar sesión</button>
        </form>
    </div>
</div>